<div class="large-container center-block">
	<h1>My Articles</h1>
	<!-- No hace falta recorrer con un ciclo each porque al ser puesto en el partial siguendo la convención de nombres, rails ya sabe lo que tiene que hacer-->
	<%= render @articles %>	
</div>
